<h1>User #<%= @user_id.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @user_id.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @user_id.email %></p>
</div>
<div>User:<%=@gif.user%></div>
<ul>
  <%@gifs.each do |gif|%>
  <li> <img src= "<%= gif.url%>"</li>
    <%end%>
</ul>
<a href="/users_id/<%= @user_id.id %>/edit">Edit</a> |
<a href="/users_id/<%= @user_id.id %>/destroy">Destroy</a>
